**/__pycache__/
.vscode/
*.o
**/*.cmake
**/CMakeCache.txt
**/CMakeFiles/
**/.DS_Store

# Do not track LaTeX build files
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.toc

notes.txt
data/lottery_numbers.txt
data/bytes.bin
data/big_data/**
data/countries/**
